.item {
    background-color: rgb(255, 255, 255);
    transition: .3s;
    cursor: pointer;
}
.link {
    text-decoration: none;
}
.item:hover {
    background-color: rgba(223, 223, 223, 0.356);
}
.item-img {
    height: 150px;
}